<div id="<%= dom_id transfer %>">
  <div class="container">
    <div class="alert alert-success" role="alert">
      Приход на сумму <%= transfer.sum %>, сделан <%= transfer.created_at.strftime("%d %b. %Y") %>.
      Комментарий: <%= transfer.description %>.
    </div>
  </div>
</div>

