<div class="container">
  <div class="row">
    <h1>Изменение операции</h1>

    <%= render "form", transfer: @transfer %>

    <br>
    <div>
      <%= link_to "Вернуться к списку", transfers_path %>
    </div>
  </div>
</div>